@using EntityLayer.Concrete
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <div> 
        Category Ekleme Sayfası
    </div>
</body>
</html>
