@using EntityLayer.Concrete
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        Category Ekleme Sayfası
    </div>
    <form class="form-group" method="post"> 
        <input type="text" style="width:200px" class="form-control" name="CategoryName" placeholder="Kategori Name"/>
        <br />
        <button class="btn btn-danger">Ekle </button>
    </form>
</body>
</html>
