
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Developerland Tablo Örneği - Kategori</h3>
<br />
<table class="table table-bordered">    
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>

    </tr>
</table>

<button class="btn btn-danger">Yeni Kategori</button>
<button class="btn btn-info">Kategori Listele</button>
<button class="btn btn-primary">Kategori Açıklaması</button>
